.parameters__title {
  font-family: 'Brygada 1918', serif;
  font-weight: 700;
  color: black;
  font-size: 80px;
  line-height: 60px;
  word-spacing: 3px;
  letter-spacing: 7px;
  margin: 0;
  padding: 0 0 80px 0;
}