.parameters__form {
  max-width: 1500px;
  display: grid;
  grid-template-columns: min-content; 
  grid-template-rows: repeat(5, min-content); 
  gap: 40px 40px; 
  grid-template-areas: 
    "styles"
    "products"
    "prices"; 
  justify-content: center; 
  justify-items: center; 
  align-items: start; 
  margin: 0;
  padding: 0;
}